.disclaimer {
  background-color: rgb(14, 14, 14);
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  font-family: var(--subtext-font);
  color: var(--text-color-faded);
  font-size: 14px;
  font-weight: 300;
}

.footer {
  background-color: var(--base-color-2);
  margin-top: 30px;
  height: 80px;
  display: flex;
  padding: 0 2%;
  font-family: var(--subtext-font);
  color: var(--text-color-faded);
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 980px) {
  .footer {
    padding: 0 4%;
    font-size: 14px;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .footer {
    font-size: 12px;
  }

  .disclaimer {
    font-size: 12px;
    text-align: left;
  }

  .footer p {
    max-width: 160px;
  }
}
